
.container {
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
}

.header h1 {
    color: green;
    text-align: center;
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 28px;
}

.subject {
    font-weight: bold;
    color: black;
}

.chem {
    color: red;
}

.math {
    color: red;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-top: 10px;
}
