
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
    color: red;
    font-weight: bold;
}

ol, ul {
    margin-left: 40px;
    font-size: 16px;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: underline;   
    color: blue;                
}
p {
    text-align: center;
}
